#timerView.hot #stopBtn {
  fill: salmon;
}

#timerView.cold #stopBtn {
  fill: skyblue;
}

.measurement-total {
  /* font-size: 32;
  font-family: System-Regular;
  font-weight: regular;
   */
  text-length: 32;
  fill: white;
}

#status {
  fill: white;
  y: 80%;
  x: 10%;
}

.hot-fill {
  fill: salmon;
}

.cold-fill {
  fill: skyblue;
}

#hotBtn #image {
  href: "icons/sauna_icon.png";
}

#coldBtn #image {
  href: "icons/shower.png";
}

/* #stopBtn {
  fill: green;
} */

#stopBtn #image {
  href: "icons/stop-button.png";
}

#cancelBtn {
  fill: darkgray;
}

#cancelBtn #image {
  href: "icons/delete.png";
}
